/* ---                                   --- **
 *             Feuilles des styles           *
 * -                                         *
 * @Author : Thierry CHARPENTIER             *
 * @Date   : 14 Avril 2018                   *
 * @Version: V1R0                            *
 *                                           */

/* Polices de caractères                     */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ---              Slideshow en CSS3               --- **
* @Author : Geoffrey C 									 *
* Date : 	13.11.2012									 *
* Site : 	http://www.alsacreations.com 				 *
*/
@keyframes AutoSlide {
	0% {left: 0px;}			/* 1ere image */
	25% {left: 0px;}
	50% {left: -1600px;}	/* 2eme image */
	75% {left: -1600px;}
	100% {left: 0px;}
}
@-moz-keyframes AutoSlide {
	0% {left: 0px;}			/* 1ere image */
	25% {left: 0px;}
	50% {left: -1600px;}	/* 2eme image */
	75% {left: -1600px;}
	100% {left: 0px;}
}
@-webkit-keyframes AutoSlide {
	0% {left: 0px;}			/* 1ere image */
	25% {left: 0px;}
	50% {left: -1600px;}	/* 2eme image */
	75% {left: -1600px;}
	100% {left: 0px;}
}
@-o-keyframes AutoSlide {
	0% {left: 0px;}			/* 1ere image */
	25% {left: 0px;}
	50% {left: -1600px;}	/* 2eme image */
	75% {left: -1600px;}
	100% {left: 0px;}
}
@keyframes fadeInScale {
  0% {transform: scale(0.9); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}
@-moz-keyframes fadeInScale {
  0% {transform: scale(0.9); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}
@-webkit-keyframes fadeInScale {
  0% {transform: scale(0.9); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}
@-o-keyframes fadeInScale {
  0% {transform: scale(0.9); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}
/* --- 										--- **
*			Les styles de la page 				 *
** --- 										--- */
/* 				COMMUNS A TOUS 					*/
* {
	font-size: 			16px;
	font-family: 		'Roboto', sans-serif;
	font-style:  		normal;
	font-weight: 		400;
}
html,
body {
	/*font-size: 			1.6rem;*/
	padding: 			0;
	margin: 			0;
	width: 				100%;
}
html {
	font-size: 			0.63rem;
}
h1 {
	margin-top: 		0;
}
h2 {
	font-size: 			1.89rem;
	text-transform:  	uppercase;
	font-weight: 		700;
	margin-bottom: 		5px;
}
hr {
	position: 			relative;
	top: 				-15px;
	display: 			inline-block;
	width: 				60px;
	height: 			0;
	margin: 			5px;
	color: 				#cccccc;
	height: 			0;
	opacity: 			0.5;
}
.anchor {
	padding-top: 		80px;
}
.size10 {
	font-size: 			1.2rem;
}
.size20 {
	font-size: 			1.5rem;
}
.size40 {
	font-size: 			6rem;
}
.plump {
	font-weight: 		bold;
}
.bluePoint {
	position: 			relative;
	left: 				-12px;
	margin-right: 		20px;
}
.blueText {
	color: 				#5cadd3;
}
.container {
	width: 				100%;
	margin-left:  		auto;
	margin-right:  		auto;
}
.circle {
	padding: 			20px;
	border: 			2px solid #cccccc;
	border-radius: 		50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 	50%;
	-o-border-radius: 	50%;
}
.bug {
	display: 			flex;
	align-items: 		center;
}

/* ====== BARRE DE NAVIGATION ====== */
.navBar {
	position: 			fixed;
	top: 				0;
	right: 				0;
	left: 				0;
	margin-right: 		auto;
	margin-left:  		auto;
	display: 			flex;
	flex-wrap: 			wrap;
	justify-content:  	space-around;
	align-items:		center;
	height: 			90px;
	width: 				100%;
	background-color: 	#ffffff;
	z-index: 			500;
}
/* ======        LOGO         ====== */
.navLogo {
	width: 				100%;
	max-width: 			261px;
	margin-top:			10px;
}
.logo {
	width: 				100%;
	max-width: 			261px;
	margin-top: 		10px;
}

/* ====== BARRE DE NAVIGATION ====== */
.navMenu {
	display: 			block;
}
.navMenu li {
	list-style: 		none;
	display: 			inline-block;
	padding-top: 		30px;
	padding-right: 		15px;
	padding-bottom: 	30px;
	padding-left: 		15px;
	margin: 			0px;
}
.navMenu a {
	font-size: 			1.2rem;
	font-weight:  		500;
	text-decoration: 	none;
	color: 				#000000;
}
.navMenu li:hover {
	border-top: 		2px solid #5cadd3;
}
/* ======        ACCUEIL      ====== */
.accueil {
	display: 			flex;
	align-items: 		center;
	justify-content: 	center;
	margin-top: 		100px;
}
/* ------       Le slideshow     ------ */
.slider {
	background: 		#ffffff;
	margin: 			0 auto;
	height: 			100%;
	width: 				100%;
}
.slider .banner {
	position: 			absolute;
	left: 				0;
	top: 				50%;
	width: 				30%;
	transform: 			translate(45%, -50%);
	-moz-transform: 	translate(45%, -50%);
	-webkit-transform: 	translate(45%, -50%);
	-o-transform: 		translate(45%, -50%);
	text-align: 		left;
	color: 				#ffffff;
}
.slider .banner h2 {
	color: 				#5cadd3;
	text-transform: 	uppercase;
	font-size: 			1.89rem;
	font-style: 		normal;
	font-weight: 		700;
}
.slider .banner p {
	color: 				#ffffff;
	font-size: 			1.2rem;
	font-style: 		normal;
}
.slider .banner span {
	color: 				#ffffff;
	font-size: 			1.89rem;
	font-style: 		normal;
	font-weight: 		700;
}
.slider .btnLeft {
	position: 			absolute;
	top: 				45%;
	left: 				0;
	opacity: 			.3;
	transition: 		all .25s ease-in-out;
	-moz-transition: 	all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: 		all .25s ease-in-out;
	color: 				#ffffff;
	font-size:			3rem;
	font-weight:  		bold;
	text-align: 		left;
}
.slider .btnLeft:before {
	content: 			"";
	position: 			absolute;
	background: 		rgba(200,200,200, .4);
	height: 			50px;
	width: 				50px;
	border-radius: 		0 100% 100% 0;
	-moz-border-radius: 0 100% 100% 0;
	-webkit-border-radius: 0 100% 100% 0;
	-o-border-radius: 	0 100% 100% 0;;
	margin-left: 		-15px;
	margin-top: 		-5px;
	transition: 		all .25s ease-in-out;
	-moz-transition: 	all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: 		all .25s ease-in-out;
}
.slider .btnLeft:hover {
	opacity: 			1;
	cursor: 			pointer;
}
.slider .btnLeft:hover:before {
	box-shadow: 		0px 0px 10px 1px rgba(0,0,0, .6);
	-moz-box-shadow: 	0px 0px 10px 1px rgba(0,0,0, .6);
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0, .6);
	-o-box-shadow: 		0px 0px 10px 1px rgba(0,0,0, .6);
}
.slider .btnRight {
	position: 			absolute;
	top: 				45%;
	right: 				0;
	opacity: 			.5;
	transition: 		all .25s ease-in-out;
	-moz-transition: 	all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: 		all .25s ease-in-out;
	color: 				#ffffff;
	font-size:			3rem;
	font-weight:  		bold;
	text-align: 		right;
}
.slider .btnRight:before {
	content: 			"";
	position: 			absolute;
	background: 		rgba(200,200,200, .4);
	height: 			50px;
	width: 				50px;
	border-radius: 		100% 0 0 100%;
	-moz-border-radius: 100% 0 0 100%;;
	-webkit-border-radius: 100% 0 0 100%;;
	-o-border-radius: 	100% 0 0 100%;
	margin-top: 		-5px;
	transition: 		all .25s ease-in-out;
	-moz-transition: 	all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: 		all .25s ease-in-out;
}
.slider .btnRight:hover {
	opacity: 			1;
	cursor: 			pointer;
}
.slider .btnRight:hover:before {
	box-shadow: 		0px 0px 10px 1px rgba(0,0,0, .6);
	-moz-box-shadow: 	0px 0px 10px 1px rgba(0,0,0, .6);
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0, .6);
	-o-box-shadow: 		0px 0px 10px 1px rgba(0,0,0, .6);
}
.left {
	padding-right: 		15px;
	left: 				2px;
}
.right {
	padding-left: 		15px;
}
.bouton {
	color: 				#ffffff;
	text-decoration: 	none;
	background-color: 	#5cadd3;
	border-radius: 		5px;
	padding-top: 		7px;
	padding-bottom: 	5px;
	padding-left: 		10px;
	padding-right: 		10px;
	cursor: 			pointer;
	font-size: 			1.5rem;
	font-weight: 		700;
}
.slider img {
	border: 			none;
	display: 			block;
}
.timer {
	border-bottom: 		6px solid #5cadd3;
	width: 				100%;
	z-index: 			2;
	border-radius: 		2px 2px 2px 2px;
}
/* ======       SERVICES      ====== */
.services {
	text-align: 		center;
}
.services p {
	width: 				70%;
	margin: 			0 auto;
}
#servicesContent {
	display: 			flex;
	align-items: 		center;
	justify-content:  	center;
	padding-top:  		30px;
	margin:		 		auto;
}
#servicesContent img {
	width: 				100%;
}
.featureImage {
	width: 				50%;
}
.features {
	text-align: 		left;
	width: 				50%;
	margin-right: 		95px;
}
.feature {
	display: 			flex;
	margin-bottom: 		30px;
	font-weight:  		400;
}

/* ======      PORTFOLIO      ====== */
.portfolio {
	text-align: 		center;
}
.portfolio p {
	width: 				90%;
	margin: 			0 auto;
	clear: 				both;
}
.port-container {
	width: 				90%;
	margin: 			0 auto;
	padding-top: 		15px;
	position: 			relative;
}
.port-container input[type=radio] {
	position: 			absolute;
	opacity: 			0;
}
.port-container section {
	display: 			none;
	clear: 				both;
	padding-top: 		10px;
	padding-bottom:  	4px;
}
.port-container label {
	font-weight:  		500;
	font-size: 			1rem;
	display: 			block;
	float: 				left;
	width: 				10.5%;
	padding: 			5px;
	color: 				#757575;
	cursor: 			pointer;
	text-decoration: 	none;
	text-align: 		center;
	background: 		#e5e5e5;
	margin: 			0 auto 0 auto;
}
.port-container label:nth-of-type(1) {
	border-radius:  	5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-o-border-radius:  	5px 0 0 5px;
	left: 				27.5%;
}
.port-container label:nth-of-type(2) {
	left: 				27.5%;
}
.port-container label:nth-of-type(3) {
	left: 				27.5%;
}
.port-container label:nth-of-type(4) {
	border-radius:  	0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-o-border-radius:  	0 5px 5px 0;
	left: 				27.5%;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
	display: 			block;
	padding: 			20px;
	background: 		#ffffff;
	color: 				#000000;
}
.port-container [id^="tab"]:checked + label,
.port-container label:hover {
	background:  		#7ce4e7;
	color: 				#136466;
	font-weight:  		bold;
	border-bottom: 		2px solid #187C7e;
}
.port-container label .fas {
	display: 			none !important;
}
.port-container input[type=radio]:focus + .triangle,
.port-container label:hover .triangle,
.port-container label:active .triangle {
	visibility:  			visible;
}
.port-container .tab-content {
	animation: 			fadeInScale 0.7s ease-in-out;
	-moz-animation: 	fadeInScale 0.7s ease-in-out;
	-webkit-animation: 	fadeInScale 0.7s ease-in-out;
	-o-animation: 		fadeInScale 0.7s ease-in-out;
}
.port-container [id^="tab"]:checked + label .fas {
  color: 				#5cadd3;
}
.triangle {
	color: 				#468cad;
	font-size: 			1.7rem;
	position: 			absolute;
	visibility: 		hidden;
	margin-top: 		-4px;
	padding-left: 		auto;
	padding-right: 		auto;
}
/* ====== tab-content Animation ====== */

.gallery {
	display: 			flex;
	justify-content: 	stretch;
	flex-wrap: 			wrap;
	width: 				100%;
	margin: 			0 auto;
}
figure {
	position: 			relative;
	overflow: 			hidden;
	height: 			175px;
	width:  			260px;
	margin: 			10px;
	transition: 		all 1s ease;
}
figure:hover .legend {
	opacity: 			1;
	bottom: 			4px;
}
figure img {
	width: 				100%;
}
.eye {
	position: 			absolute;
	background-color:  	#4da1b1;
	color: 				#ffffff;
	left: 				70%;
	top: 				-28%;
	padding: 			5px;
	border: 			2px solid #ffffff;
	border-radius: 		50%;
}
.legend {
	text-align: 		left;
	position: 			absolute;
	background: 		rgba(0,0,0,0.5);
	color: 				#ffffff;
	padding: 			5px;
	margin-left: 		0px;
	margin-bottom: 		0px;
	opacity: 			0;
	bottom: 			100%;
	left: 				0;
	transition: 		all 0.5s ease;
	width: 				100%;
}
.legend p {
	font-size: 			.8em;
	text-align: 		left;
}
/* ======       CONTACT       ====== */
.contact {
	text-align:  		center;
	clear: 				both;
}
.maps {
	top: 				0;
	left: 				0;
	right: 				0;
	bottom: 			0;
	margin-top: 		30px;
	margin-right: 		0;
	margin-bottom: 		30px;
	margin-left: 		0;
	position: 			relative;
	height: 			600px;
	overflow: 			hidden;
}
.maps iframe {
	display: 			block;
	position: 			absolute;
	top: 				0;
	left: 				0;
	width:  			100% !important;
	height: 			600px !important;
}
.blueScreen {
	position: 			relative;
	width: 				100% !important;
	height: 			600px !important;
	background-color: 	#3491b2;
	opacity:  			0.3;
}
#form-main {
	position:			absolute;
	top: 				50%;
	right: 				10%;
	z-index:			5;
	transform: 			translateY(-50%);
	-webkit-transform: 	translateY(-50%);
	-moz-transform: 	translateY(-50%);
	-o-transform: 		translateY(-50%);
	background-color:  	rgba(255,255,255,0.75);
	width: 				320px;
	text-align: 		left;
	font-size: 			1.5rem;
	color: 				#000000;
	padding-left:		10px;
  	padding-right:		15px;
  	padding-top:		20px;
  	padding-bottom:		10px;
}
#form-main h3 {
	font-size: 			1.5rem;
	font-weight: 		bold;
	margin: 			0;
}
#form-main p {
	font-size: 			1.1rem;
	text-align: 		left;
	margin-top: 		0;
}
#form-main span {
	font-size: 			1.1rem;
	font-weight: 		bold;
}

.text textarea {
    width: 				100%;
    height: 			150px;
    line-height: 		150%;
    resize:				vertical;
}
.name input,
.email input,
.subject input,
.text textarea {
	box-sizing:			border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: 	border-box;
  	-o-box-sizing: 		border-box;
  	width: 				100%;
  	border: 			1px solid rgba(204,204,204,1);
	color: 				#868686;
	margin-left: 		5px;
	margin-right: 		5px;
	padding-left: 		10px;
	z-index: 			15;
}
.name input:hover, 
.email input:hover, 
.subject input:hover, 
.text textarea:hover,
.name input:focus, 
.email input:hover, 
.subject input:hover, 
.text textarea:focus {
 	background-color:	white;
}
#submit-button {
	float:left;
  	width: 50%;
  	border: 			#5cadd3 solid 2px;
  	cursor:				pointer;
  	background-color: 	#5cadd3;
  	color:				white;
  	font-size:			1.3rem;
  	padding-top:		4px;
  	padding-bottom:		4px;
  	transition: 		all 0.3s;
  	-moz-transition: 	all 0.3s;
  	-webkit-transition: all 0.3s;
  	-o-transition: 		all 0.3s;
  	margin-top:			-4px;
	font-weight:		700;
}
#submit-button:hover {
	background-color: 	rgba(0,0,0,0);
  	color: 				#5cadd3;
}
.submit:hover {
	color: 				#3498db;
}
.ease {
	width: 				0px;
  	height: 			40px;
  	background-color: 	#fbfbfb;
  	transition: 		.3s ease;
  	-moz-transition: 	.3s ease;
  	-webkit-transition: .3s ease;
  	-o-transition: 		.3s ease;
}
.submit:hover .ease {
	width:				100%;
  	background-color:	white;
}
#errMsg {
	margin-left: 		5px;
	margin-bottom: 		2px;
    padding: 			2px 4px;
    border: 			1px solid #ff0000;
    background-color: 	#ffcaca;
	border-radius: 		4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 	4px;
	color: 				#ff0000;
}
.no-error {
	border-color: 		rgba(68,191,68,0.75);		
}
.no-error:focus {
	border-color: 		rgba(68,191,68,0.75);
	box-shadow: 		0 0 8px rgba(68,191,68,0.5);
	-moz-box-shadow: 	0 0 8px rgba(68,191,68,0.5);
	-webkit-box-shadow: 0 0 8px rgba(68,191,68,0.5);
	-o-box-shadow: 		0 0 8px rgba(68,191,68,0.5);
}
.error {
	border-color: 		rgba(191,68,68,0.75);
	box-shadow: 		0 0 8px rgba(191,68,68,0.5);
	-moz-box-shadow: 	0 0 8px rgba(191,68,68,0.5);
	-webkit-box-shadow: 0 0 8px rgba(191,68,68,0.5);
	-o-box-shadow: 		0 0 8px rgba(191,68,68,0.5);
}
/* ======                  ====== **
** 			MEDIA QUERIES         **
** ======                  ====== */
@media only screen and (max-width: 620px) {
	/* --- 43% --- */
	.logo {
		height: 		25px;
		width: 			112px;	
	}
	.bouton {
		font-size: 		0.8rem;
	}
	.port-container label span {
		font-size: 		0.6rem;
	}
	figure {
		height: 		75px;
		width: 			112px;
	}
	#form-div{
    	left: 			3%;
    	margin-right: 	3%;
   		width: 			88%;
    	margin-left: 	0;
   		padding-left: 	3%;
    	padding-right: 	3%;
  	}
}

@media only screen and (max-width: 767px) {
	/* --- 53% --- */
	.logo {
		height: 		30px;
		width: 			138px;
	}
	.featureImage {
		width: 			26.5%;
	}
	.port-container label span {
		font-size: 		0.8rem;
	}
	figure {
		height: 		93px;
		width: 			138px;
	}
}

@media only screen and  (min-width: 768px) and (max-width: 991px) {
	/* --- 69% --- */
	.featureImage {
		width: 			34.5%;
	}
	.port-container label span {
		font-size: 		1rem;
	}
	figure {
		height: 		121px;
		width: 			179px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/* --- 83% --- */
	.featureImage {
		width: 			41.5%;	
	}
	figure {
		height: 		145px;
		width: 			216px;
	}
}		 
@media only screen and (min-width: 1200px) and (max-width: 1440px){
	/* --- 100% --- */
	.featureImage {
		width: 			50%;
	}
	figure {
		height: 		175px;
		width: 			260px;
	}

}

@media only screen and (min-width: 1441px) {
	/* --- 111 % --- */
	.featureImage {
		width: 			55.5%;
	}
	figure {
		height: 		194px;
		width: 			289px;
	}
}